
button{
    //margin-left: 90vh;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 50px;

}

form{
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    justify-content: flex-start;
}

hr{
    max-width: 100%;
}

#item{
    max-width: 50%;
}

#filter {
    max-width: 50%;
}